{% extends 'base.html' %}

{% block content %}
<h2>Nmap Scans</h2>

{% if item_list %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Actions</th>
                <th width="100">Scan Name</th>
                <th width="100">Date Completed</th>
                <th width="200">Live Hosts</th>
            </tr>
        </thead>
        <tbody>
        {% for item in item_list %}
            <tr>
                <td>
                    View
                    Edit
                    Delete
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.scan_end }}</td>
                <td>{{ item.count_live_hosts }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No nmap scans are currently in your application, go add some!</p>
{% endif %}
{% endblock %}

{% block inline_javascript %}
<script type="text/javascript">
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
	// Animate select box length
	var searchInput = $(".search-box input");
	var inputGroup = $(".search-box .input-group");
	var boxWidth = inputGroup.width();
	searchInput.focus(function(){
		inputGroup.animate({
			width: "300"
		});
	}).blur(function(){
		inputGroup.animate({
			width: boxWidth
		});
	});
});
</script>
{% endblock inline_javascript %}